.btn--icon-only {
    padding: 0;
}

.elementor-widget-button {
    &.elementor-align {
        &-center {
            .elementor-button-wrapper {
                justify-content: center;
            }
        }

        &-left {
            .elementor-button-wrapper {
                justify-content: flex-start;
            }
        }

        &-right {
            .elementor-button-wrapper {
                justify-content: flex-end;
            }
        }
    }
}

.elementor-button,
.elementor-widget-button .elementor-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5rem !important;
    font-weight: 800 !important;
    font-family: 'Montserrat', 'sans-serif' !important;
    background-image: $blueGradient;


    &-info {
        .elementor-button {
            background-image: $orangeGradient;
        }
    }

    &-success {
        .elementor-button {
            background-image: $greenGradient;
        }
    }

    &-warning {
        .elementor-button {
            background-image: $violetGradient;
        }
    }

    &-danger {
        .elementor-button {
            background-image: $pinkGradient;
        }
    }

    &-custom_1 {
        .elementor-button {
            background-image: $blueVioletGradient;
        }
    }

    &-custom_2 {
        .elementor-button {
            background-image: $darkBlueGradient;
        }
    }

    @include btn-sizes(.75rem, 3rem, .8rem);

    @include md {
        @include btn-sizes(.9rem, 3.5rem, 1rem);
    }

    @include lg {
        @include btn-sizes(1rem, 4rem, 1.3rem);
    }

    &-text {
        display: flex;
        align-items: center;
    }

    &-wrapper {
        display: flex;
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        margin: 0;

        &.elementor-align-icon {
            $positionValue: 2rem;

            &-left {
                margin-right: 2rem;
            }

            &-right {
                margin-left: 2rem;
            }
        }
    }
}