.icon {
    padding: .5rem;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 2.6rem;
    }

    &--adaptive {
        height: auto;
        width: auto;
    }

    &--circled {
        border-radius: 50%;
        border: 3px solid $white;
    }
}