.text {
    &--left {
        text-align: left;
    }

    &-md--left {
        @include md {
            text-align: left;
        }
    }

    &--center {
        text-align: center;
    }

    &--white {
        color: $white;
    }
}

.line-height {
    &--normal {
        line-height: normal;
    }
}

.shadow {
    &--section {
        box-shadow: 0 6px 77px 7px rgba(0, 0, 0, 0.16);
    }
}

.bg {
    &--white {
        background: $white;
    }
}