.our-team {
    background: $white;
    box-shadow: 4px 5px 77px 7px rgba(0, 0, 0, 0.16);

    &__heading {
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 1rem;
    }

    &__subheading {
        font-size: 3.6rem;
        font-weight: 600;
    }

    @include md {
        padding-left: 9rem;
        padding-right: 9rem;

        &__heading {
            font-size: 2.6rem;
            letter-spacing: 1.7rem;
        }

        &__subheading {
            font-size: 7.2rem !important;
        }
    }

    &__articles {
        li {
            margin-bottom: 3.5rem;
        }

        .person-article {
            &__img {
                width: 100%;
                height: 30rem;
                max-width: 30rem;

                .name {
                    font-size: 2.6rem;
                    font-weight: 400;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                }

                &:hover {
                    figcaption {
                        opacity: .75;
                        pointer-events: visible;
                    }
                }

                figcaption {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: $blueTopGradient;
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity $quickTransition;
                    color: $white;
                }
            }

            &__info {
                color: $gray;

                .name,
                .position {
                    font-size: 2.3rem;
                }

                .name {
                    font-weight: 600;
                }

                .email {
                    font-size: 1.7rem;
                    font-weight: 300;
                }

            }
        }

        &--featured {
            li {
                margin-bottom: 5rem;
            }

            .person-article {
                &__img {
                    height: 32rem;
                    max-width: 36rem;
                }

                &__info {

                    .name,
                    .position {
                        font-size: 2.6rem;
                    }

                    .email {
                        font-size: 1.9rem;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 769px) {
    .our-team {
        &__articles{
            &--featured {
                color: red !important;
                li {
                    &:nth-child(1){
                        order: 1;
                    }
                    &:nth-child(2){
                        order: 0;
                    }
                }
            }
        }
    }
}
