@mixin auto-center {
    margin-left: auto;
    margin-right: auto;
}

@mixin pseudo-styles($position) {
    position: $position;
    display: block;
    content: "";
}

@mixin btn-sizes($baseSizeY, $baseSizeX, $baseFontSize) {
    &.elementor-size {
        &-xs {
            padding: $baseSizeY $baseSizeX;
            font-size: $baseFontSize;

            .elementor-button-icon {
                font-size: $baseFontSize * 1.5;

                &.elementor-align-icon {
                    &-left {
                        margin-left: -$baseSizeX / 2;
                    }

                    &-right {
                        margin-right: -$baseSizeX / 2;
                    }
                }
            }
        }

        &-sm {
            padding: $baseSizeY * 1.25 $baseSizeX * 1.25 !important;
            font-size: $baseFontSize * 1.25;

            .elementor-button-icon {
                font-size: $baseFontSize * 2;

                &.elementor-align-icon {
                    &-left {
                        margin-left: -$baseSizeX / 1.75;
                    }

                    &-right {
                        margin-right: -$baseSizeX / 1.75;
                    }
                }
            }
        }

        &-md {
            padding: $baseSizeY * 1.5 $baseSizeX * 1.5;
            font-size: $baseFontSize * 1.5;

            .elementor-button-icon {
                font-size: $baseFontSize * 2.5;

                &.elementor-align-icon {
                    &-left {
                        margin-left: -$baseSizeX / 1.5;
                    }

                    &-right {
                        margin-right: -$baseSizeX / 1.5;
                    }
                }
            }
        }

        &-lg {
            padding: $baseSizeY * 1.75 $baseSizeX * 1.75;
            font-size: $baseFontSize * 1.75;

            .elementor-button-icon {
                font-size: $baseFontSize * 3;

                &.elementor-align-icon {
                    &-left {
                        margin-left: -$baseSizeX / 1.25;
                    }

                    &-right {
                        margin-right: -$baseSizeX / 1.25;
                    }
                }
            }
        }

        &-xl {
            padding: $baseSizeY * 2 $baseSizeX * 2;
            font-size: $baseFontSize * 2;

            .elementor-button-icon {
                font-size: $baseFontSize * 3.5;

                &.elementor-align-icon {
                    &-left {
                        margin-left: -$baseSizeX / 1;
                    }

                    &-right {
                        margin-right: -$baseSizeX / 1;
                    }
                }
            }
        }
    }
}