@mixin xs {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: $xxl) {
    @content;
  }
}

@mixin max-xs {
  @media (max-width: $xs - 1) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: $sm - 1) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: $md - 1) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: $lg - 1) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: $xl - 1) {
    @content;
  }
}

@mixin max-xxl {
  @media (max-width: $xxl - 1) {
    @content;
  }
}