$mdWidth: 65;
$lgWidth: 50;
$gutterTablet: 4rem;
$containerPadding: 2rem;
$logoPadding: 1.2rem;

.site-header {
  position: sticky;
  top: 0;
  z-index: 101;

  .ast-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .ast-mobile-menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-toggle {
      background: transparent;

      &-icon {
        line-height: normal;

        &::before {
          color: #000;
          font-size: 3.4rem;
        }
      }
    }
  }

  .ast-mobile-menu-buttons,
  .site-branding {
    position: relative;
    z-index: 1;
  }

  .main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
  }

  .ast-main-header-bar-alignment {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }

  .main-header-bar-navigation {
    display: block !important;
    padding-top: 0 !important;
    transform: translate3d(100%, 0, 0);
    transition: transform 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &::before {
      @include pseudo-styles(fixed);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background-color 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
        250ms;
      pointer-events: none;
      transform: translate3d(-100%, 0, 0);
    }

    &.toggle-on {
      transform: none;
      transition-delay: 400ms;

      @include md {
        transform: translate3d(#{100% - $mdWidth}, 0, 0);
      }

      @include lg {
        transform: translate3d(#{100% - $lgWidth}, 0, 0);
      }

      &::before {
        background-color: rgba(45, 45, 45, 0.7);
        transition-delay: 0ms;
      }
    }
  }

  .main-header-bar-navigation {
    padding-top: 7.5rem !important;

    @include md {
      padding-top: 0 !important;
    }
  }

  #site-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    overflow: auto;
    height: 100%;
  }

  .main-navigation {
    margin: auto;
    width: 100%;
    height: 100%;
    padding-left: 0 !important;

    @include md {
      height: auto;
      position: relative;

      &::before {
        @include pseudo-styles(absolute);
        top: -10rem;
        content: "Menu";
        font-size: 3rem;
        z-index: 2;
        left: $gutterTablet;
        color: $grayLight;
      }
    }

    @include lg {
      &::before {
        top: -15rem;
        font-size: 4rem;
      }
    }

    .main-header-menu {
      margin: 0 auto;
      pointer-events: visible;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1;
      padding-left: 2rem;
      padding-right: 2rem;
      border: none !important;
      margin-left: 0;
      background-color: $white;

      @include md {
        padding-left: $gutterTablet;
        padding-right: calc(
          #{100% - $mdWidth} + #{$gutterTablet + $gutterTablet / 2}
        );
      }

      @include lg {
        padding-right: calc(#{100% - $lgWidth} + #{$gutterTablet});
      }

      li {
        display: block;
        font-size: 3rem;
        line-height: normal;
        font-weight: 600;

        &.current-menu-item {
          a {
            color: $blue;
          }
        }

        a {
          border: none !important;
          padding: 0.5rem 2rem;
          color: $grayLight;
          transition: color 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

          &:focus {
            outline: none;
          }

          @include md {
            padding-left: 0;
            padding-right: 0;
          }

          &:hover {
            color: $blue;
          }
        }

        .ast-menu-toggle {
          top: 1rem !important;
        }
      }

      @include lg {
        text-align: left;

        li {
          display: flex;
          flex-direction: column;
          line-height: normal;
          font-size: 5rem;

          &:hover {
            .sub-menu {
              pointer-events: visible;
              opacity: 1;
            }
          }

          .sub-menu {
            position: absolute;
            left: -4rem;
            width: 50vw;
            display: block !important;
            visibility: visible;
            pointer-events: none;
            padding: 2rem 4rem;

            li {
              font-size: 3.2rem;
            }

            a {
              padding: 1rem 0;
            }
          }
        }

        a {
          padding: 2rem 0;
          display: inline-block;
          width: auto;

          &::after {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
