.entry-content {
  margin-top: 0;
}

/**
* Use important to avoid any trouble with accordions script
*/
@media (min-width:1025px) {
  .elementor-hidden-desktop {
    display:none !important;
  }
}
@media (min-width:768px) and (max-width:1024px) {
  .elementor-hidden-tablet {
    display: none !important;
  }
}
@media (max-width:767px) {
  .elementor-hidden-phone {
    display: none !important;
  }
}

.ww-section__toggler {
  cursor: pointer;
  transform: rotate( 0deg );
  transition: transform .5s ease;

  &:not(.active) {
    transform: rotate( -180deg );
    transition: transform .5s ease;
  }
}
