/* Prothesis Used Before */
/* Amputation Level */
/* personalize */

.ww-cf-container {
	* {
		font-family: "Nimbus San L";
		font-weight: normal;
	}
	.ww-center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	input[type="text"], input[type="email"], input[type="number"] {
		height: 46px;
        margin-bottom: 10px;
        background-color: white;
	}
	select {
		height: 46px;
		border-color: #dcd7ca;
	}
	input {
		// &::placeholder {
		// 	font-family: "Nimbus San L";
		// 	font-weight: 400;
		// 	line-height: 132.01px;
		// 	letter-spacing: 0.6px;
		// }
		// &::-webkit-input-placeholder {
		// 	font-family: "Nimbus San L";
		// 	font-weight: 400;
		// 	line-height: 132.01px;
		// 	letter-spacing: 0.6px;
		// }
		// &::-moz-placeholder {
		// 	font-family: "Nimbus San L";
		// 	font-weight: 400;
		// 	line-height: 132.01px;
		// 	letter-spacing: 0.6px;

		// }
		// &::-ms-input-placeholder {
		// 	font-family: "Nimbus San L";
		// 	font-weight: 400;
		// 	line-height: 132.01px;
		// 	letter-spacing: 0.6px;
		// }
	}
	h2,h3 {
        font-family: "Nimbus San L";
		color: #2d2d2d;
		letter-spacing: 0.78px;
		font-weight: bold;
		padding-top: 20px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 1.5em;
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.ww-patient-form-input[type="text"] {
		height: 31px;
	}
	span.wpcf7-list-item {
		display: block;
	}
}
.ww-main-informations {
	max-width: 775px;
	margin-left: auto;
	margin-right: auto;
}
.ww-required {
	color: #fe6600;
}
.ww-unit-select {
	display: flex;
}
.ww-unit-select-arrow {
	background-color: white;
	display: inline-block;
	width: 61px;
	height: 46px;
	border-left: 1px solid #dcd7ca;
	border-top: 1px solid #dcd7ca;
	border-bottom: 1px solid #dcd7ca;
	position: relative;
	i {
		border: solid #555;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 9px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		position: absolute;
		left: 20px;
		top: 6px;
	}
}
.ww-patient-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.ww-patient {
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	box-shadow: 6px 6px 26px 6px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	background-color: white;
    margin-bottom: 1%;
	display: none;

	select {
		display: none;
	}
}

/* convert ul to select */

.ww-select-list{
	list-style: none;
	list-style-type: none;

	li {
		position: relative;
		padding-left: 35px;
		&::after {
			content: "";
			position: absolute;
			top: 2px;
			left: 0;
			height: 19px;
			width: 19px;
			background-color: white;
			border: 1px solid #dcd7ca;
			border-radius: 50%;
		}
	}
	
	.ww-after-black-background {
		&::after {
			background-color: black;
		}
	}
}

/* convert ul to select end */

.ww-patient-content {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	h2, h3 {
		margin-bottom: 2rem;
		margin-top: 0;
	}
}
.ww-patient-used-before {
	span {
		position: relative;
	}
	input:not([type=text]) {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0px;
		width: 0px;
		&:checked {
			~ {
				.wpcf7-list-item-label {
					&:after {
						background-color: black;
					}
				}
			}
		}
	}
	input[type=text]{
		height: 20px;

	}
	.wpcf7-list-item-label {
		left: 18px;
		&:after {
			content: "";
			position: absolute;
			top: -1px;
			left: -36px;
			height: 19px;
			width: 19px;
			background-color: white;
			border: 1px solid #dcd7ca;
			border-radius: 50%;
		}
	}

}
.ww-patient-amp-lvl {
	span {
		position: relative;
	}
	input:not([type=text]) {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0px;
		width: 0px;
		&:checked {
			~ {
				.wpcf7-list-item-label {
					&:after {
						background-color: black;
					}
				}
			}
		}
	}
	.wpcf7-list-item-label {
		left: 18px;
		&:after {
			content: "";
			position: absolute;
			top: -1px;
			left: -36px;
			height: 19px;
			width: 19px;
			background-color: transparent;
			border: 1px solid #dcd7ca;
			border-radius: 50%;
		}
	}
}
.ww-patient-hand-site {
	span {
		position: relative;
	}
	input:not([type=text]) {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0px;
		width: 0px;
		&:checked {
			~ {
				.wpcf7-list-item-label {
					&:after {
						background-color: black;
					}
				}
			}
		}
	}
	input[type=text]{
		height: 20px;
		margin-left: 30px;
		width: 90%;
		border: none;
		border-bottom: 1px solid #6d6d6d;
	}
	.wpcf7-list-item.has-free-text {
		display: flex;
	}
	.wpcf7-list-item-label {
		left: 18px;
		&:after {
			content: "";
			position: absolute;
			top: -1px;
			left: -36px;
			height: 19px;
			width: 19px;
			background-color: transparent;
			border: 1px solid #dcd7ca;
			border-radius: 50%;
		}
	}
}
.ww-patient-glove-color {
	span {
		position: relative;
	}
	input:not([type=text]) {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0px;
		width: 0px;
		&:checked {
			~ {
				.wpcf7-list-item-label {
					&:after {
						background-color: black;
					}
				}
			}
		}
	}
	.wpcf7-list-item-label {
		left: 10px;
		&:after {
			content: "";
			position: absolute;
			top: -1px;
			left: -36px;
			height: 19px;
			width: 19px;
			background-color: white;
			border: 1px solid #dcd7ca;
			border-radius: 50%;
		}
	}
}
.ww-hand-equal {
	> .wpcf7-list-item {
		position: relative;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0px;
			width: 0px;
			&:checked {
				~ {
					.wpcf7-list-item-label {
						&:before {
							background-color: black;
						}
						&:after {
							position: absolute;
							left: 7px;
							top: 1px;
							width: 5px;
							height: 10px;
							border: solid white;
							border-width: 0 3px 3px 0;
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
						}
					}
				}
			}
		}	
		.wpcf7-list-item-label {
			left: 10px;
			&:before {
				content: "";
				position: absolute;
				top: -3px;
				left: 0;
				height: 19px;
				width: 19px;
				background-color: white;
				border: 1px solid #dcd7ca;
			}
		}
	}
}
.ww-hand-properties {
	display: flex;
	justify-content: space-between;
	.ww-hand-gender, .ww-hand-site{
		width: 45%;
		.wpcf7-list-item-label {
			&:after {
				left: -35px;
			}
		}
	}
}
.ww-hand-image-left {
	margin-left: auto;
	margin-right: auto;
}
.ww-hand-image-right {
	margin-left: auto;
	margin-right: auto;
}
.ww-patient-personalize {
	.wpcf7-list-item {
		margin-left: 0;
		margin-right: 0;
		padding-left: 20%;
		padding-right: 20%;
		display: inline-block;
		color: white;
		padding-top: 3px;
		padding-bottom: 3px;
		&:nth-child(1) {
			background-color: black;
		}
		label {
			margin-bottom: 0;
		}
		&:nth-child(2) {
			background-color: #dec0a6;
		}
		&:nth-child(3) {
			background-color: #d4af94;
		}
		&:nth-child(4) {
			background-color: #c3a591;
		}
		&:nth-child(5) {
			background-color: #b69783;
		}
		&:nth-child(6) {
			background-color: #c39679;
		}
		&:nth-child(7) {
			background-color: #b78763;
		}
		&:nth-child(8) {
			background-color: #ae7d52;
		}
		&:nth-child(9) {
			background-color: #886a50;
		}
		&:nth-child(10) {
			background-color: #724617;
		}
		&:nth-child(11) {
			background-color: #40270b;
		}
	}
}
.ww-hand-equal {
	font-size: 0.76em;
	.wpcf7-list-item {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		display: inline-block;
		.wpcf7-list-item-label {
			padding-left: 35px;
		}
	}
}
.ww-hide,
.ww-subheader-to-hide {
	display: none;

}
.ww-show {
	display: block;
}

.ww-patient-upload-icon {
	h3 {
		display: inline-block;
	}
	img {
		display: inline-block;
	}
}

.codedropz-upload-wrapper {
	.dnd-upload-image {
		display: none;
	}
	.dnd-upload-details{
		padding-left: 0;
		padding: 3px;
		border: 1px solid #dcd7ca;
		border-radius: 8px;
		.dnd-progress-bar {
			display: none;
		}
		.name {
			padding: 0;
			padding-right: 16px;
		}
		.remove-file {
			top: 10px;
			right: 6px;
		}
	}

}
.ww-for-patient-details {
	* {
		color: #6d6d6d;
	}
	.wpcf7-list-item {
		margin-bottom: 10px;
	}
}
.wpcf7-free-text {
	position: static;
	opacity: 1;
}
.ww-footer-brands {
	margin-left: auto;
	margin-right: auto;
}
footer.site-footer {
	.ast-container {
		display: flex;
		flex-direction: column;

		> .ast-row:first-of-type {
			order: 2;
			margin-top: 15px;
			border-top: 1px solid white;
			position: relative;
			padding-top: 50px;
		}
		> .ast-row:first-of-type:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 15px 0 15px;
			border-color: white transparent transparent transparent;
		}
		.ast-small-footer-section {
			.gallery {
				display: flex;
				align-items: center;
				.gallery-item {
					margin-bottom: 0;
					.gallery-icon {
						border: none;
						img {
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
			}
		}
	}
}
.ww-contact-us-name-email {

	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;

	> .wpcf7-form-control-wrap {
		width: 48%;
		input {
			background-color: #eeeeee;
			height: 50px;
			line-height: 50px;
			font-size: 26px;
			&:focus {
				&::placeholder {
					opacity: 0.3;
				}
				&::-webkit-input-placeholder {
					opacity: 0.3;
				}
				&::-moz-placeholder {
					opacity: 0.3;
				}
				&::-ms-input-placeholder {
					opacity: 0.3;
				}
			}

			&::placeholder {
				font-family: "Nimbus San L";
				font-weight: 400;
				text-align: center;
				color: #878686;
				font-size: 26px;
				line-height: 50px;
				opacity: 1;
			
			}
			&::-webkit-input-placeholder {
				font-family: "Nimbus San L";
				font-weight: 400;
				text-align: center;
				color: #878686;
				font-size: 26px;
				line-height: 50px;
				opacity: 1;
			}
			&::-moz-placeholder {
				font-family: "Nimbus San L";
				font-weight: 400;
				text-align: center;
				color: #878686;
				font-size: 26px;
				line-height: 50px;
				opacity: 1;
			}
			&::-ms-input-placeholder {
				font-family: "Nimbus San L";
				font-weight: 400;
				text-align: center;
				color: #878686;
				font-size: 26px;
				line-height: 50px;
				opacity: 1;
			}
		}
		
	}
}

.ww-contact-us-message {
	textarea {
		background-color: #eeeeee;
		font-size: 26px;
		padding: 23px 44px;
		height: 264px;
		&:focus {
			&::placeholder {
				opacity: 0.3;
			}
			&::-webkit-input-placeholder {
				opacity: 0.3;
			}
			&::-moz-placeholder {
				opacity: 0.3;
			}
			&::-ms-input-placeholder {
				opacity: 0.3;
			}
		}

		&::placeholder {
			font-family: "Nimbus San L";
			font-weight: 400;
			color: #878686;
			font-size: 26px;
			line-height: 50px;
			opacity: 1;
		
		}
		&::-webkit-input-placeholder {
			font-family: "Nimbus San L";
			font-weight: 400;
			color: #878686;
			font-size: 26px;
			opacity: 1;
		}
		&::-moz-placeholder {
			font-family: "Nimbus San L";
			font-weight: 400;
			color: #878686;
			font-size: 26px;
			opacity: 1;
		}
		&::-ms-input-placeholder {
			font-family: "Nimbus San L";
			font-weight: 400;
			color: #878686;
			font-size: 26px;
			opacity: 1;
		}
	}
}
.ww-hide-text {
	.widget-title {
		color: transparent;
	}
}

.wpcf7 {
	.wpcf7-form {
		.wpcf7-validation-errors {
			text-align: center;
    		color: red;
		}
	}
}

footer.site-footer .footer-adv-overlay {
	padding-left: 20px;
	padding-right: 20px;
}

.ww-disable-input:not(:checked) {
	color: #ccc;
	span{
		&::after {
			background-color: #ccc;
		}
	}
}



@media only screen and (max-width: 960px) {
	.ww-patient {
		width: 31%;
	}
	.ww-contact-us-name-email {
		flex-wrap: wrap;
		.ww-contact-us-name {
			width: 100%;
			margin-bottom: 36px;
		}
		.ww-contact-us-mail {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 750px) {
	.ww-patient {
		width: 46%;
	}
	footer.site-footer {
		.ast-container {
			.ast-small-footer-section {
				.gallery {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					.gallery-item {
						max-width: 50%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.ww-patient {
		width: 98%;
	}
}

@media only screen and (max-width: 425px) {
	.ww-patient {
		width: 98%;
	}
	footer.site-footer {
		.ast-container {
			.ast-small-footer-section {
				.gallery {
					.gallery-item {
						max-width: 100%;
					}
				}
			}
		}
	}

}