.thank-message {
    &__subheading {
        @include md {
            font-size: 3rem;
        }
    }
}

.wpcf7-form {
    &.sent {

        label,
        input {
            display: none;
        }
    }

    div.wpcf7-response-output {
        border: 0;
        padding: 0;
        margin: 0;
    }
}