$white: #fff;
$black: #000;

$gray: #2d2d2d;

$grayDarker: #22202d;

$grayLight: #a3a3a3;
$grayLighter: #f5f5f5;

$blue: #3ab2fb;
$lightBlue: #07dcfa;
$darkBlue: #0170c4;
$timelineBlue: #2fa5e3;

$green: #35b969;
$lightGreen: #2dc7ab;

$orange: #fa7b91;
$lightOrange: #fedf42;

$pink: #f7329c;
$lightPink: #ff889d;

$violet: #a262f5;
$lightViolet: #eb76c5;