// Standard gradients
$blueGradient: linear-gradient(-263deg, $blue 0%, $lightBlue 100%);
$greenGradient: linear-gradient(-263deg, $green 0%, $lightGreen 100%);
$orangeGradient: linear-gradient(-263deg, $orange 0%, $lightOrange 100%);
$pinkGradient: linear-gradient(-263deg, $pink 0%, $lightPink 100%);
$violetGradient: linear-gradient(-263deg, $violet 0%, $lightViolet 100%);

// Custom gradients
$blueVioletGradient: linear-gradient(-263deg, #66cce2 0%, #6364ed 100%);
$darkBlueGradient: linear-gradient(-263deg, #1548f6 0%, #00bef4 100%);
$blueTopGradient: linear-gradient(to top, #3cb4eb 0%, #0777c8 100%);