.ww-accordions {
    &__header {
        @extend .our-team__subheading;
    }

    &__toggler {
        cursor: pointer;

        &.active {
            transform: rotate(180deg);
        }
    }

    .ww-accordion {
        $mdPadding: 5rem;
        $lgPadding: 10rem;
        $xlPadding: 20rem;

        &--shadow {
            box-shadow: 4px 5px 77px 7px rgba(0, 0, 0, 0.16);
        }

        &__text {
            font-size: 2rem;
            font-weight: 400;
            transition: font-weight $quickTransition;

            @include md {
                font-size: 2.6rem;
            }
        }

        &__trigger {
            &.read-more {
                cursor: pointer;
            }
        }

        &__button {
            .elementor-button {
                padding: 1rem 1.5rem !important;

                &-icon {
                    margin-left: 1rem !important;
                }

                @include md {
                    $baseSizeY: 1rem;
                    $baseSizeX: 4rem;
                    $baseFontSize: 1.3rem;

                    padding: $baseSizeY * 2 $baseSizeX * 2 !important;
                    font-size: $baseFontSize * 2 !important;

                    .elementor-button-icon {
                        font-size: $baseFontSize * 3.5 !important;

                        &.elementor-align-icon {
                            &-left {
                                margin-left: -$baseSizeX / 1 !important;
                                margin-right: 2rem !important;
                            }

                            &-right {
                                margin-right: -$baseSizeX / 1 !important;
                                margin-left: 2rem !important;
                            }
                        }
                    }
                }

            }
        }

        &__trigger,
        &__content {
            @include md {
                padding-left: $mdPadding;
                padding-right: $mdPadding;
            }

            @include lg {
                padding-left: $lgPadding;
                padding-right: $lgPadding;
            }

            @include xl {
                padding-left: $xlPadding;
                padding-right: $xlPadding;
            }
        }

        &__content {
            display: none;
            font-size: 1.6rem;
            line-height: 2.7rem;

            @include md {
                font-size: 2rem;
            }
        }

        &.active {
            .ww-accordion {
                &__text {
                    font-weight: bold;
                }

                &__button {
                    .elementor-button {
                        background-image: $darkBlueGradient;
                    }
                }
            }
        }
    }
}