@include max-sm {
    .uael-countdown-item {
        font-size: 2.7rem !important;
        width: 5.5rem !important;
    }

    .uael-item-label {
        font-size: 1.2rem !important;
    }

    .uael-countdown-separator {
        display: none !important;
    }

    .uael-item {
        padding: 1rem .5rem;
    }
}