.site-header .ast-mobile-menu-buttons .menu-toggle {
  $iconHeight: 1.8rem;
  $iconWidth: 2.8rem;
  $transformSize: 0.8rem;

  height: $iconHeight;
  width: $iconWidth;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;

  &-icon {
    display: block;
    height: 0.2rem;
    width: $iconWidth;
    background-color: $black;
    transition: width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
      background-color 200ms;

    &::before,
    &::after {
      @include pseudo-styles(absolute);
      background-color: $black;
      height: 0.2rem;
      width: 100%;
      left: 0;
      right: 0;
      transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        top 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms,
        bottom 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
      transform: rotate(0);
    }

    &::before {
      content: "" !important;
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &:hover {
    .menu-toggle-icon {
      width: $iconWidth - 0.8rem;
    }
  }

  &.toggled {
    .menu-toggle-icon {
      background-color: transparent;

      &::before, &::after {
        transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms,
        top 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        bottom 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      &::before {
        top: $transformSize;
        transform: rotate(45deg);
      }
      &::after {
        bottom: $transformSize;
        transform: rotate(-45deg);
      }
    }
  }
}
