.timeline {
    $basePadding: 4rem;
    $timelineWidth: .6rem;

    $boxHeight: 3rem;

    $iconSize: 10rem;

    padding: $basePadding 0 $basePadding * 3;
    position: relative;

    @mixin box-styles {
        width: $boxHeight;
        height: $boxHeight;
        border-radius: $boxHeight / 4;
        background: $timelineBlue;
        box-shadow: .2rem .2rem .4rem $darkBlue;
        transform: rotate(45deg);
    }

    &::before,
    &::after {
        @include pseudo-styles(absolute);
        bottom: 0;
    }

    &::before {
        top: 0;
        left: ($basePadding - $timelineWidth / 2);
        width: $timelineWidth;
        height: 100%;
        background: $blue;
        border-radius: $timelineWidth / 3;
    }

    &::after {
        @include box-styles;
        left: ($basePadding - $boxHeight / 2);
    }

    &__article {
        position: relative;
        padding: $basePadding 0 $basePadding ($basePadding * 2);

        &-icon {
            height: $iconSize;
            width: $iconSize;
            background: $grayLighter;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: $iconSize - 3rem;
                max-height: $iconSize - 3rem;
            }
        }

        &-content {
            padding-left: ($iconSize / 2);

            .year {
                font-size: 2rem;
                display: block;
            }
        }

        &-line {
            $pinSize: .8rem;
            $lineWidth: .2rem;

            position: relative;

            .pin {
                position: absolute;
                display: block;
                height: $pinSize;
                width: $pinSize;
                border-radius: $pinSize / 4;
                top: calc(50% + #{$lineWidth / 2});
                transform: translate3d(0, -50%, 0) rotate(45deg);
                left: -($iconSize / 4);
            }

            &::before,
            &::after {
                @include pseudo-styles(absolute);

            }

            &::before {
                top: 50%;
                transform: translate3d(-50%, 0, 0);
                height: $lineWidth;
                background: $grayLight;
                width: ($iconSize / 2);
                left: -($iconSize / 2);
            }

            &::after {
                @include box-styles;
                left: -(($iconSize / 2) + $basePadding);
                top: calc(50% - #{$boxHeight / 2 - $lineWidth / 2});
                transform: translate3d(-50%, 0, 0) rotate(45deg);
            }
        }
    }

    @include lg {
        padding: $basePadding 0 $basePadding $basePadding * 3;

        $iconSize: 12rem;
        $pinHeight: 1.4rem;
        $articleMargin: 1rem;
        $timelineWidth: 1rem;
        $articleWidth: calc(#{100% / 5} + #{$basePadding * 2});

        &::before,
        &::after {
            display: none;
        }

        $boxHeight: 5rem;

        &__row {
            display: flex;

            .timeline__article {

                width: $articleWidth;
                padding: $basePadding;

                &::before,
                &::after {
                    @include pseudo-styles(absolute);
                }

                &::after {
                    @include box-styles;
                    z-index: 2;
                }

                &::before {
                    left: 0;
                    right: 0;
                    height: $timelineWidth;
                    background: $blue;
                    width: 100%;
                }

                &-icon {
                    height: $iconSize;
                    width: $iconSize;
                }

                &-content {
                    padding: 0;
                    height: calc(100% - #{$iconSize + $basePadding / 2 - $articleMargin});
                    position: relative;

                    .year {
                        font-size: 3rem;
                    }
                }

                &-line {
                    position: static;

                    &::before,
                    &::after {
                        display: none;
                    }

                    $lineWidth: .2rem;

                    .pin {
                        height: $pinHeight;
                        width: $pinHeight;
                        z-index: 2;
                        transform: rotate(45deg);
                    }

                    .year::after {
                        width: $lineWidth;
                        background: $grayLight;
                        @include pseudo-styles(absolute);
                        z-index: 1;
                    }
                }
            }
        }

        &__upper {
            position: relative;

            &::before {
                @include pseudo-styles(absolute);
                height: $timelineWidth;
                background: $blue;
                left: -$basePadding * 3;
                width: $basePadding * 3;
                bottom: -$timelineWidth / 2;
            }

            .timeline__article {
                padding-left: 0;
                padding-right: $iconSize / 2+$basePadding / 2;

                &-content {
                    padding: 0 0 0 ($iconSize - $basePadding);
                    margin-top: $articleMargin;
                }

                &::after {
                    bottom: -$boxHeight / 2;
                    left: $iconSize / 2 - $boxHeight / 2;
                }

                &::before {
                    bottom: -$timelineWidth / 2;
                }

                &:nth-of-type(4) {
                    width: auto;
                    display: flex;
                    align-items: flex-end;
                    padding-right: 0;
                    width: 20rem;

                    .pin,
                    .timeline__article-icon,
                    .year::after {
                        display: none;
                    }

                    .timeline__article-content {
                        padding: 0;
                        margin: 0;
                        height: auto;
                        text-align: center;
                        width: 100%;

                        .content {
                            position: absolute;
                            bottom: -($basePadding * 2 +$boxHeight+$timelineWidth / 2);
                        }
                    }

                    &::before {
                        width: 50%;
                    }

                    &::after {
                        right: 50%;
                        left: initial;
                        transform: translate3d(50%, 0, 0) rotate(45deg);
                    }
                }

                &-line {
                    $leftPos: $iconSize / 2 - $pinHeight / 2;

                    .pin {
                        left: $leftPos;
                        top: 1.5rem;
                    }

                    .year {
                        &::after {
                            left: $leftPos+$pinHeight / 2 - .1;
                            top: 1.5rem + $pinHeight;
                            bottom: 0;
                        }
                    }

                }
            }
        }

        &__lower {

            .timeline__article {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                padding-right: 0;
                padding-left: $iconSize / 2 + $basePadding / 2;

                &::after {
                    top: -$boxHeight / 2;
                    right: $iconSize / 2 - $boxHeight / 2;
                }

                &::before {
                    top: -$timelineWidth / 2;
                }

                &-icon {
                    order: 2;
                }

                &-content {
                    order: 1;
                    margin: 0 0 $articleMargin;
                    padding-right: $iconSize - $basePadding;
                    width: 100%;
                }

                &-line {

                    .pin {
                        left: unset;
                        top: unset;
                        bottom: 1.5rem;
                        right: ($iconSize / 2 - $pinHeight / 2);
                    }

                    .year::after {
                        right: $iconSize / 2 - .1;
                        bottom: 1.5rem + $pinHeight;
                        top: 0;
                    }
                }
            }
        }
    }
}