.testimonials {
    &::before {
        @include pseudo-styles(absolute);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .7;
        background: $grayDarker;
    }

    &__header {
        img {
            max-width: 36.5rem;
            max-height: 5.5rem;
            object-fit: contain;
            width: 100%;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }


    .icon {
        i {
            @include md {
                font-size: 5rem;
            }
        }
    }

    .swiper {
        &-slide {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2rem;
            font-style: italic;

            @include md {
                font-size: 2.8rem;
                line-height: 4.2rem;
            }
        }
    }

    &__person {
        overflow: hidden;
        cursor: pointer;

        &--img {
            position: relative;
            border-radius: 50%;
            height: 8rem;
            width: 8rem;

            &::after {
                @include pseudo-styles(absolute);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: $black;
                opacity: .5;
                transition: opacity $quickTransition;
                border-radius: 50%;
            }
        }

        &--inner {

            &:hover,
            &.active {
                .testimonials__person--img::after {
                    opacity: 0;
                }
            }
        }

        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
