[data-widget_type="uael-posts.classic"] {
    .uael-post {

        &__thumbnail {
            img {
                height: 100%;
                max-height: 28.5rem;
                object-fit: cover;
            }
        }

        &-grid__inner {
            justify-content: center;
        }

        &-wrapper {
            margin-bottom: 4rem !important;
        }

        &__inner-wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &__bg-wrap {
            background: $white !important;
            box-shadow: -2px 0 39px 1px rgba(0, 0, 0, 0.17);
            position: relative;

            &::after {
                @include pseudo-styles(absolute);
                bottom: -4rem;
                left: 0;
                right: 0;
                height: 4rem;
                background-color: $white;
            }
        }

        &__content-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 3rem 0 3rem !important;
        }

        &__meta-data,
        &__title,
        &__excerpt {
            width: 100%;
        }

        &__meta-data {
            order: 1;
            font-size: 1.2rem;
            margin-bottom: 1rem !important;
        }

        &__title {
            text-align: center;
            order: 2;
            font-size: 1.6rem;
            margin-bottom: 2rem !important;
        }

        &__excerpt {
            order: 3;
            font-size: 1.4rem;
            margin-bottom: 0 !important;

            .entry-content {
                margin-bottom: 2.5rem !important;
            }
        }

        &__read-more {
            order: 4;
            @extend .elementor-size-sm;
        }
    }
}