.dashicons-zeus-dashboard {
  &:before {
    content: '';
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("../../assets/img/webwolf.svg") no-repeat center;
  }
}

.ww-marker {
  &:after {
    content: 'WW';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: #a4afb7;
    background: transparent;
    font-size: 10px;
    font-family: Roboto,Arial,Helvetica,Verdana,sans-serif;
    padding: 0.2em 0.5em;
    border-width: 0 0 1px 1px;
    border-color: #e0e0e0;
    border-style: solid;
  }
}

